@import '../global-variables.scss';

//Font Size
$h1-font-size: var(--wp--preset--font-size--x-large);
$h2-font-size: var(--wp--preset--font-size--large);
$h3-font-size: var(--wp--preset--font-size--medium);
$h4-font-size: var(--wp--preset--font-size--small);
$h5-font-size: var(--wp--preset--font-size--extra-small);
$h6-font-size: var(--wp--preset--font-size--extra-small);

$p-font-size: var(--wp--preset--font-size--extra-small);
