@import 'variables/navigation/navigation-variables.scss';

.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $nav-background-color;
    height: 100px;
    font-family: $nav-font-family;
    padding: 0 40px;

    .custom-logo{
        width: $logo-width;
        height: $logo-height;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .desktop-menu{
        ul{
            display: flex;
            @media(max-width:$burger-menu-breakpoint){
                display: none;
            }
            li{
                list-style: none;
                margin-left: 20px;
                a{
                    text-decoration: none;
                    color: $nav-font-color;
                    font-size: $nav-font-size;
    
                    &:hover{
                        color: $nav-font-hover-color;
                    }
                }
                //Active State of Menu Navigation------------------
                &.current_page_item,
                &.current-menu-item{
                    & > a{
                        color: $nav-font-hover-color;
                    }
                }
                &:has(> ul li.current-menu-item){
                    & > a{
                        color: $nav-font-hover-color;
                    }
                }
                //--------------------------------------------------
            }
        }
    }
    .burger-menu-container{
        display: none;
        cursor: pointer;
        @media(max-width:$burger-menu-breakpoint){
            display: flex;
        }
    }
    .burger-menu-overlay{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        background-color: $burger-background-color;
        padding: 80px 40px;
        text-align: center;

        .close-button-wrapper{
            display: flex;
            justify-content: right;
            width: 100%;

            .icon{
                max-width: 30px;
                max-height: 30px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .burger-menu-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;

            ul{
                padding: 0;
                li{
                    list-style: none;
                    margin: 10px 0;
                    a{
                        text-decoration: none;
                        color: $burger-font-color;
                        font-size: $burger-font-size;
                    }
                }
            }
        }
        &.hidden{
            display: none;
        }
    }
}



// SUB MENU
.header-container{
    ul{
        li{
            position: relative;

            &.menu-item-has-children{
                &:hover .sub-menu{
                    opacity: 1;
                    transition: 0.3s;
                }
                .sub-menu{
                    position: absolute;
                    top: 25px;
                    left: -15px;
                    display: flex;
                    flex-direction: column;
                    z-index: 300;
                    background-color: $submenu-background-color;
                    opacity: 0;
                    transition: 0.3s;
                    border: 1px solid $nav-background-color;
                    padding: 15px;
                    width: 120px;

                    li{
                        margin: 10px 0;
                        
                        a{
                            margin: 20px 0;
                            color: $submenu-font-color;
                            font-size: $submenu-font-size;
                            &:hover{
                                color: $nav-font-hover-color;
                            }
                        }
                    }
                }
            }
        }
    }
}


