//Fonts-Families
$primary-font-family: var(--wp--preset--font-family--roboto);       //Roboto
$secondary-font-family: --wp--preset--font-family--geneva-verdana;  //Verdana

//Fonts-Sizes
$font-size-extra-small: var(--wp--preset--font-size--extra-small);  //20px
$font-size-small: var(--wp--preset--font-size--small);              //22px
$font-size-medium: var(--wp--preset--font-size--medium);            //40px
$font-size-large: var(--wp--preset--font-size--large);              //53px
$font-size-x-large: var(--wp--preset--font-size-x-large);           //60px

//Colors
$primary-color: var(--wp--preset--color--gold);                     //Gold
$secondary-color: var(--wp--preset--color--emerald-green);          //Emerald Green    
$tertiary-color: var(--wp--preset--color--dark-blue);               //Dark Blue     
$quaternary-color: var(--wp--preset--color--light-blue);            //Light Blue    
$black-color: var(--wp--preset--color--black);                      //Black
$white-color: var(--wp--preset--color--white);                      //White
$transparent-color: var(--wp--preset--color--transparent);          //Transparent