@import '../global-variables.scss';

//Footer
$footer-background-color: $tertiary-color;
$footer-font-style: $primary-font-family;
$footer-font-size: $font-size-extra-small;
$footer-font-color: $white-color;
$footer-hover-font-color: $secondary-color;